/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET!!!!! UR GOOD TO STYLE HUN */

/* Let's sort this menu out, hmm?? */

.navMenu {
  font-family: 'Velodroma Basic'; /*Very aware I have to find a way to implement/import/link this*/
  font-size: 2.87vh;
  height: 24.074%;
  max-height: 260px;
  width: fit-content;
  display: inline-block;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 3.241% 0% 0% 1.823%;
  padding: 0px 0px 0px 0px;
  text-align: right;
  position: absolute;
  top: 0px;
  left: 0px;
}
li {
  margin: 0px 0px 0px 0px;
  padding: 0% 0% 17.308% 0%;
  list-style: none;
  color:black;
  text-decoration: none;
}
a {
    text-decoration: none;
}

/*Now the image of me*/

#kato1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.241%;
  max-width: 9.531%;
  max-height: 16.944%;
  border-width: 5px;
  border-style: solid inset inset solid;
  border-top-color: #7B32F2;
  border-right-color: #7B32F2;
  border-bottom-color: #7AE82A;
  border-left-color: #7AE82A;
  position: relative;
}

/* Now here's the social media setup for the top. */

.socials {
  display: flex;
  flex-direction: row;
  height: 4.167%;
  width: 14.375%;
  justify-content: space-between;
  align-items: flex-start;
  top: 0px;
  right: 0px;
  position: absolute;
  padding: 3.241% 1.823%;
  margin: 0px 0px 0px 0px;
  /* margin: 3.241% 1.823% 0% 0%; */
  row-gap: 11.594%;
}
#behance{
  height: 100%;
  width: 100%;
  margin: 0px;
  max-height: 45px;
  max-width: 45px;
}
#github {
  height: 100%;
  width: 100%;
  max-height: 45px;
  max-width: 45px;
}
#linkedin {
  height: 100%;
  width: 100%;
  max-height: 45px;
  max-width: 45px;
}
#instagram {
  height: 100%;
  width: 100%;
  max-height: 45px;
  max-width: 45px;
}

/* Main content on the page now */

h1 {
  font-family: 'Biryani';
  font-weight: black;
  font-size: 9.259vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 6.667%;
  text-align: center;
  max-width: 390px;
  max-height: 9.26%;
  padding: 0px;
  line-height: 0px;
  /* background-color: orange;
  border: 2px solid black; */
}
p {
  font-family: 'Myanmar Sangam MN';
  font-weight: bold;
  font-size: 3.796vh;
  text-align: center;
  line-height: 136.333%;
  padding: 0px;
  margin: 0px;
  /* background-color: orange;
  border: 2px solid black; */
}
p#intro {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.463%;
  margin-bottom: 0px;
  padding: 0px;
  max-width: 55%;
  max-height: 18.981%;
}

/* Button Styling */

button {
  font-family: 'Myanmar Sangam MN';
  font-weight: bold;
  font-size: 3.796vh;
  text-align: center;
  border: 0px;
  background: #22C7EF;
  margin-top: 10.648%;
  margin-bottom: 22.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}