/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset Done */

/* Font Imports */
@font-face {
    font-family: 'Velodroma Basic';
    src:  url('../fonts/velodroma_basic/VelodromaBasic-Regular.otf'),
          url('../fonts/velodroma_basic/VelodromaBasic-Wide.otf'),
          url('../fonts/velodroma_basic/VelodromaBasic-SuperWide.otf');
  }
  @font-face {
    font-family: 'Myanmar Sangam MN';
    src: url('../fonts/MyanmarSangamMN.ttc');
  }

/* Menus */
.menu {
    display: none;
}
.navMenu {
    font-family: 'Velodroma Basic'; 
    font-size: 2.87vh;
    height: 24.074%;
    max-height: 260px;
    width: fit-content;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 3.241% 0% 0% 1.823%;
    padding: 0px 0px 0px 0px;
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  li.nav{
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 17.308% 0%;
    list-style: none;
    color:black;
    text-decoration: none;
  }
  a {
      text-decoration: none;
  }

  /* Social Media */
  .socials {
    display: flex;
    flex-direction: row;
    height: 4.167%;
    width: 14.375%;
    justify-content: space-between;
    align-items: flex-start;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 3.241% 1.823%;
    margin: 0px 0px 0px 0px;
    row-gap: 11.594%;
  }
  #behance{
    height: 100%;
    width: 100%;
    margin: 0px;
    max-height: 4.167vh;
  }
  #github {
    height: 100%;
    width: 100%;
    max-height: 4.167vh;
  }
  #linkedin {
    height: 100%;
    width: 100%;
    max-height: 4.167vh;
  }
  #instagram {
    height: 100%;
    width: 100%;
    max-height: 4.167vh;
  }

  /* Text Styling */
  h1 {
    /* position: absolute; */
    font-family: 'Biryani';
    font-weight: black;
    font-size: 9.259vh;
    /* padding: 0px; */
    line-height: 0px;
    /* text-align: right; */
    /* top: 10.926vh;
    right: 30.26vw; */
  }
  p {
    /* position: absolute; */
    font-family: 'Myanmar Sangam MN';
    font-weight: bold;
    font-size: 3.25vh;
    text-align: left;
    line-height: 136.333%;
    padding: 0px;
    margin: 0px;
    /* top: 25.648vh;
    left: 49.479vw;
    max-width: 22.813vw; */
  }
  h2 {
      /* position: absolute; */
      font-family: 'Biryani';
      font-weight: bold;
      font-size: 5.463vh;
  }

  /* Image Sizing & Position */
#budgIt {
    max-height: 41.944vh;
}
#packMi {
    max-height: 41.94vh;
}